*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.DS_Store
*.apk
*.aab
output.json
local.properties
build
reports/
captures/
.idea
*.ap_
*.dex
*.class
bin/
gen/
*target/
*build/
.gradle/
.idea/
gen-external-apklibs/
.classpath
.project
# IDEA files
*.temp
**/out/
projectFilesBackup/
**/.idea/*
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/scopes/
!buildSrc/.idea/dictionaries/
!buildSrc/.idea/encodings.xml
reports/profile/
**/build/
**/nested-build/
.android/
tmp/
app-build-info.properties
build-info.properties
*.log
test/composer/output/
*.hprof
metrics.json
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
artifacts/
venv/
outputs/
inputs/
*.cache/
*.swp
mirakle_build_file_stub
**/node_modules/